<ul class="nav nav-pills pull-right" role="tablist">
    <li role="presentation">
        <a href="/">Homepage</a>
    </li>
    <li role="presentation">
        <a href="/ws/echo">Echo</a>
    </li>
</ul>
