{% extends 'layout.twig' %}

{% block content %}
    <h1>{{ title }}</h1>

    <div id="result" class="mtop20 mbottom20">
        <div id="loader" class="center-block">
            <div id="loader_1" class="loader"></div>
        </div>

        <table class="table table-hover" id="statistic" style="display: none;">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Count:</td>
                <td><span class="count">...</span></td>
            </tr>
            <tr>
                <td>Min:</td>
                <td><span class="min">...</span> ns</td>
            </tr>
            <tr>
                <td>Max:</td>
                <td><span class="max">...</span> ns</td>
            </tr>
            <tr>
                <td>Sum:</td>
                <td><span class="sum">...</span> ns</td>
            </tr>
            <tr>
                <td>Average:</td>
                <td><span class="avg">...</span> ns</td>
            </tr>
        </table>
    </div>

    <script type="text/javascript">
        var connection = new WebSocket('ws://{{ ip }}:{{ port }}');
        connection.onstart = function (e) {
            console.warn('start');
        };
        connection.onmessage = function (e) {
            var statistic = JSON.parse(e.data);
            if (!!statistic.finished) {
                $('.count').text(formatNumber(statistic.count, 0));
                $('.min').text(formatNumber(statistic.min));
                $('.max').text(formatNumber(statistic.max));
                $('.sum').text(formatNumber(statistic.sum));
                $('.avg').text(formatNumber(statistic.avg));

                $('#loader').hide();
                $('#statistic').show();
            } else {
                connection.send(e.data);
            }
        };

        function formatNumber(number, fixed) {
            if (fixed === undefined) {
                fixed = 2;
            }

            var number = number.toFixed(fixed) + '';
            var x = number.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }
    </script>
{% endblock %}
