<!DOCTYPE html>
<html>
    <head>
        <title>Title of the document</title>
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>

</html>
